---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <!-- Custom Banner Image -->
    <div class="custom-banner">
      <div class="custom-banner-overlay"></div>
      <img src="{{ site.author.banner | default: '/images/academic_portfolio_banner.png' | relative_url }}" class="custom-banner-img" alt="Banner Image">
    </div>

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
